<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SyncSpace</title>

    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            dark: {
              900: "#080808",
              800: "#111111",
              700: "#171717",
            },
            primary: "#6366f1"
          }
        }
      }
    }
    </script>
</head>

<body class="bg-dark-900 text-white">

    <!-- 🔥 Navbar -->
    <nav class="bg-dark-800 p-4 flex justify-between items-center">
        <h1 class="text-xl font-bold">SyncSpace</h1>

        <div class="space-x-4">
          <span>{{ current_user.username }}</span>
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </nav>
   

    <!-- Page Content -->
    <div class="max-w-5xl mx-auto mt-8 px-4">
        {% block content %}{% endblock %}
    </div>

</body>
</html>