<!DOCTYPE html>
<html>
<head>
    <title>Canvas</title>
     <script src="https://cdn.tailwindcss.com"></script>
     <script>tailwind.config = {
      theme: {
        extend: {
          colors: {
            dark: {
              900: "#080808",
              800: "#111111",
              700: "#171717",
            },
            primary: "#6366f1"
          }
        }
      }
    }
    </script>
</head>
<body>

<h2>Canvas - {{ project.name }}</h2>

<canvas id="board" width="800" height="500" style="border:1px solid black;"></canvas>

<br><br>

<button onclick="clearCanvas()">Clear</button>

<script>
const canvas = document.getElementById("board");
const ctx = canvas.getContext("2d");

let drawing = false;

canvas.addEventListener("mousedown", () => drawing = true);
canvas.addEventListener("mouseup", () => drawing = false);

canvas.addEventListener("mousemove", draw);

function draw(e) {
    if (!drawing) return;

    ctx.fillRect(e.offsetX, e.offsetY, 2, 2);
}

function clearCanvas() {
    ctx.clearRect(0, 0, canvas.width, canvas.height);
}
</script>

</body>
</html>