{% extends "base.html" %}

{% block content %}

<h2>💬 Chat - {{ project.name }}</h2>

<div id="chat-box" style="height:400px; border:1px solid #ccc; overflow-y:scroll;"></div>

<input type="text" id="chat-input" placeholder="Type message...">
<p id="typing-indicator" style="color: gray;"></p>
<button onclick="sendMessage()">Send</button>
<div id="chat-box">

    {% for msg in messages %}
    <div class="mb-2">
        <b>{{ msg.username }}</b>: {{ msg.content }}
        <div style="font-size: 10px; color: gray;">
            {{ msg.timestamp.strftime("%I:%M %p") }}
        </div>
    </div>
    {% endfor %}

</div>

<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>

<script>
const socket = io();
const projectId = "{{ project.id }}";

// join room
socket.emit('join', {
    project_id: projectId,
    username: "{{ current_user.username }}"
});

// send
function sendMessage() {
    const input = document.getElementById("chat-input");
    const message = input.value;

    if (!message) return;

    socket.emit('send_message', {
        message: message,
        username: "{{ current_user.username }}",
        project_id: projectId
    });

    input.value = "";
}

// receive
socket.on('receive_message', function(data) {
    const box = document.getElementById("chat-box");

    const msg = document.createElement("div");
    msg.classList.add("mb-2");

    msg.innerHTML = `
        <b>${data.username}</b>: ${data.message}
        <div style="font-size:10px; color:gray;">
            ${data.time}
        </div>
    `;

    box.appendChild(msg);
    box.scrollTop = box.scrollHeight;
});

// ENTER KEY
document.getElementById("chat-input").addEventListener("keypress", function(e) {
    if (e.key === "Enter") {
        sendMessage();
    }
});
//Decet Who is typing 
let typingTimeout;

const input = document.getElementById("chat-input");

input.addEventListener("input", () => {
    socket.emit('typing', {
        username: "{{ current_user.username }}",
        project_id: projectId
    });

    clearTimeout(typingTimeout);

    typingTimeout = setTimeout(() => {
        socket.emit('stop_typing', {
            username: "{{ current_user.username }}",
            project_id: projectId
        });
    }, 1000);
});
//////show hide chat indicitor 
socket.on('show_typing', function(data) {
    document.getElementById("typing-indicator").innerText =
        data.username + " is typing...";
});

socket.on('hide_typing', function(data) {
    document.getElementById("typing-indicator").innerText = "";
}); 
</script>

{% endblock %}